<div class="container">
  form action="" style="display: none;" id="add-project-form">
  <h2>Add Project</h2>
  <form style="display: none" class="form">
    <label> name*</label>
    <input type="text" id="create_name" name="name" formControlName="name" />

    <label> userId*</label>
    <select name="" id="create_userId" formControlName="userId"></select>

    <label> description*</label>
    <input
      text="text"
      id="create_description"
      name="description"
      style="height: 60px"
      formControlName="description"
    />

    <label> DueDate*</label>
    <input
      type="datetime"
      id="create_date"
      name="datetime"
      formControlName="DueDate"
    />

    <button>Submit</button>
  </form>
  rm>
</div>
