<div class="form-wrapper">
  <h2>Add Project</h2>
  <form class="form form-shadow"
   (ngSubmit)="add()"
  >
    <label> name*</label>
    <input type="text" id="create_name" name="name" formControlName="name" />

    <label> userId*</label>
    <select name="" id="create_userId" formControlName="userId"></select>

    <label> description*</label>
    <input
      text="text"
      id="create_description"
      name="description"
      style="height: 60px"
      formControlName="description"
    />

    <label> DueDate*</label>
    <input
      type="datetime"
      id="create_date"
      name="datetime"
      formControlName="DueDate"
    />

    <button class="btn btn-primary">Submit</button>
  </form>
</div>
