.card {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-size: contain;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}
.img {
  height: 500px;
}
.img img {
  width: 50%;
}
form {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  height: 50%;
  border-radius: 10px;
  width: 20%;
  padding: 20px;
}
.form h3 {
  font-size: 40px;
  text-align: center;
  margin: 10px;
}
.form input {
  margin: 10px;
  font-size: 15px;
  background-color: bisque;
  padding: 15px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.form label {
  font-size: 20px;
}
.form button {
  padding: 10px;
  border-radius: 10px;
  background-color: aqua;
  color: crimson;
  margin-top: 10px;
  font-size: 20px;
  width: 80%;
  margin-left: 30px;
}
