* {
  margin: 0;
  padding: 0;
  background-image: url(https://media.istockphoto.com/photos/taj-mahal-mausoleum-in-agra-picture-id1146517111?k=20&m=1146517111&s=612x612&w=0&h=vHWfu6TE0R5rG6DJkV42Jxr49aEsLN0ML-ihvtim8kk=);
  box-sizing: border-box;
  background-size: cover;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  /* background-color: aqua; */
  height: 100vh;
}
.form {
  text-align: center;
  gap: 10px;
  flex-direction: column;
  display: flex;
  padding: 20px;
  border-radius: 10px;
  min-height: 200px;
  align-items: center;
  width: 500px;
  background-color: #d0d0e6;
}

.form h1 {
  /* background-color: rgb(160, 245, 241); */
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  margin: 20px;
  color: black;
}

.form input {
  padding: 15px 10px !important;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: white;
  font-size: 16px;
}

.form label {
  color: black;
  margin-top: 20px;
  align-self: flex-start;
  font-size: 16px;
}

.form button {
  padding: 20px 40px;
  background-color: aquamarine;
  border: none;
  color: black;
  font-size: large;
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
  margin: 20px;
}

.text {
  margin: 100px;
}

.show-login-btn,
.show-register-btn {
  background-color: transparent !important;
  margin: 5px !important;
}
.dashboard-container {
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  padding: 20px;
}
table h1 {
  background-color: aqua;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 20px;
}

tr:nth-child(even) {
  background-color: #d6eeee;
}

input.ng-invalid.ng-touched,
.textarea.ng-invalid .ng-touched,
select.ng-invalid.ng-touched {
  border-left: 6px solid red;
}

input.ng-valid.ng-touched,
.textarea.ng-valid .ng-touched,
select.ng-valid.ng-touched {
  border-left: 6px solid rgb(69, 4, 246);
}

.error {
  color: red;
  font-size: 12px;
}
