.home {
  background-image: url("https://images.unsplash.com/photo-1613896527026-f195d5c818ed?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: contain;
  height: 90vh;
  position: relative;
}
.home p {
  width: 20%;
  position: absolute;
  justify-self: center;
  top: 20px;
  z-index: 20;
  opacity: 30px;
  left: 30px;
  // color: rgb(255, 0, 221);
}
