<div class="container">
  <main>
    <table>
      <h1>Projects...</h1>
      <br />
      <tr>
        <th>name</th>
        <th>Description</th>
        <th>User</th>
        <th>Due Date</th>
        <th></th>
      </tr>
      <tr *ngFor="let project of projects">
        <td>{{ project.pname }}</td>
        <td>{{ project.description }}</td>
        <td>{{ project.uname }}</td>
        <td>{{ project.duedate }}</td>
        <td>
          <button (click)="onDelete(project.id)" class="updateProject">
            delete
          </button>
        </td>
      </tr>
    </table>
  </main>
</div>
